// @import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #000;
  --primary-button: #059633;
  --primary-title: #059633;
  --primary-border: #059633;
  --primary-backgound: #f9f9f9;
}
select {
  background: transparent;
}
body {
  font-family: 'Montserrat', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-size: inherit;
}
p {
  margin: 0;
}
ol,
ul {
  padding: 0;
  margin: 0;
}

.d-flex {
  display: flex;
}
.al-cent {
  align-items: center;
}
.flex-col {
  flex-direction: column;
}
input::-webkit-input-placeholder {
  font-size: 16px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
}
input {
  font-size: 16px;
}
a {
  text-decoration: none;
}
.btn-primary-m {
  min-width: 160px;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  font-weight: 600;
  padding: 10px 32px;
  border-radius: 8px;
  border: none;
  outline: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.btn-primary-m-user {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 200px;
  font-size: 18px;
  color: #fff;
  text-align: right;
  font-weight: 500;
  padding: 10px 40px;
  border-radius: 8px;
  border: none;
  outline: none;
  background: var(--primary-button);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.btn-primary-m:hover {
  opacity: 0.8;
  transition: all 0.2s ease-in-out;
}
.btn-close-m{
  background: #d9534f;
}

.btn-confirm-m {
  background: #77dcae;
}

 
