// header-register modal

.modal-register {
  display: none;
  // display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  z-index: 1000;

}

.modal-overlay {
}
.modal-body-header-title {
  color: var(--primary-title);
  font-size: 42px;
}
.modal-body-header-icon:hover {
  cursor: pointer;
  opacity: 0.5;
}
.modal-body {
  width: 700px;
  background-color: #fff;
  position: absolute;
  border-radius: 20px;
  padding: 20px;
  z-index: 2000;
  animation: modalRegisterFadein ease 0.3s;
}

@keyframes modalRegisterFadein {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.modal-body-header {
  display: flex;
  justify-content: space-between;
}

.modal-body-content {
  width: 100%;
}
.modal-body-content-item {
  width: 100%;
  height: 44px;
  border: 1px solid #f5f5f7;
  margin: 20px 0;
  padding: 0 20px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  input {
    border: none;
    outline: none;
    width: 100%;
  }
}
.modal-body-content-footer {
  display: flex;
  justify-content: flex-end;

  button {
    border-radius: 15px;
  }
}
