.wrapper-detail-product {
  margin-top: 44px;
  background: #f9f9f9;
  padding-bottom: 50px;
  width: 100vw;
}
.detail-product-header {
  padding: 30px 40px;
  font-size: 18px;
  color: var(--primary-title);
}

.detail-product-body {
  width: 90%;
  margin: auto;
  display: flex;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 1px 1px 6px 0px #ddd;
  .product-body-image {
    width: 35%;
    .img-main {
      width: 100%;
      height: 400px;
      object-fit: cover;
      object-position: center;
    }
    .body-img-list {
      display: flex;
      justify-content: flex-start;
      margin-top: 10px;
      overflow-x: scroll;
      &::-webkit-scrollbar {
        height: 8px;
      }
      &::-webkit-scrollbar-thumb {
        background-color: var(--primary-button); /* Màu của thanh cuộn nút */
        border-radius: 5px;
      }
      &::-webkit-scrollbar-track {
        background-color: #f0d5c9; /* Màu của thanh cuộn nền */
      }
      div {
        min-width: 20%;
        min-height: 80px;
        margin-right: 5px;
        cursor: pointer;
        border: 2px solid transparent;
      }
      .img-list-item {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }
}
.img-item-active {
  border: 2px solid red;
}
.body-img-main {
  position: relative;
  .btn-img-next,
  .btn-img-prev{
    position: absolute;
    top: 50%;
    border: none;
    padding: 8px 5px;
    background: rgba(0,0,0,0.5);
    svg{
      fill: #fff;
      &:hover {
        opacity: 0.7;
      }
    }
  }
  .btn-img-next {
    right: 0;
  }
  .btn-img-prev {
    left: 0;
  }
}
.product-body-infomation {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: justify;
  padding: 0 20px;
  & > div > h3{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 5px;
  }


}
.quantity-info {
  display: flex;
  align-items: center;
  h5 {
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    color: var(--primary-title);
    span {
      color: #333;
      font-size: 12px;
      margin-left: 5px;
    }
  }
}
.body-info-price,
.body-info-desc {
  display: flex;
  h4 {
    min-width: 100px;
    font-size: 18px;
    color: #82736d;
    font-weight: 600;
  }
  margin-top: 10px;
}
.body-info-price {
  align-items: center;
  h3 {
    font-size: 28px;
    color: var(--primary-title);
  }
}
.body-info-desc {
}

.body-info-quantity-num {
  display: flex;
  h4 {
    font-size: 18px;
    width: 100px;
  }
  button,h5 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  button {
    border: 1px solid #82736d;
    width: 30px;
    height: 30px;
    background: transparent;
  }
  h5 {
    font-size: 16px;
    width: 50px;
    height: 30px;
    border-top: 1px solid #82736d;
    border-bottom: 1px solid #82736d;
  }
  .btn-prev {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  .btn-next {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
  }
  .btn-prev,
  .btn-next {
    &:hover {
      opacity: 0.7;
    }
  }
}
.body-info-controls {
  margin-top: 50px;
  margin-left: 100px;
  min-width: 160px;
  button {
    min-width: 130px;
    padding: 8px 20px;
    margin-right: 20px;
    border-radius: 10px;
    border: 2px solid var(--primary-border);
    font-size: 16px;
    cursor: pointer;
    transition: all ease-in 0.2s;
    &:hover {
      opacity: 0.8;
    }
  }
  .btn-add-to-cart {
    color: var(--primary-button);
    background: #f0d5c9;
    svg {
      fill: var(--primary-button);
    }
  }
  .btn-buy {
    background-color: var(--primary-button);
    color: #fff;
  }
}