.wrapper {
  display: flex;
  min-height: 100vh;
  background: #f5f5f5;
  flex-direction: column;
}

/* Header */
.manager-title {
  font-size: 16px;
  font-weight: 500;
  padding: 10px 40px;
  margin-bottom: 20px;
}
.list-content {
  width: 95%;
  height: auto;
  min-height: 550px;
  background-color: #fff;
  margin: auto;
  margin-bottom: 50px;
  border-radius: 10px;
  box-shadow: 1px 0px 5px 2px#C5C5C5;
  overflow: hidden;
  position: relative;
}
.list-content-header {
  display: flex;
  align-items: center;
  padding: 0 20px;
  justify-content: space-between;
}
.content-header-search {
  width: 350px;
  height: 46px;
  display: flex;
}
.content-header-search input {
  flex: 1;
  padding: 10px 20px;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  font-size: 16px;
}
.content-header-search input::-webkit-input-placeholder {
  font-size: 16px;
  font-weight: 400;
}

.content-header-search input,
.search-btn {
  border: none;
  outline: none;
  background: #f5f5f5;
  padding: 0 12px;
}
.search-btn {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  cursor: pointer;
}

.content-header-btn {
  color: #fff;
  background: #77dcae;
  font-size: 16px;
  padding: 12px 28px;
  border-radius: 12px;
  font-weight: 700;
  border: none;
  outline: none;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
}
.content-header-btn:hover {
  opacity: 0.8;
}
.list-content-header {
  width: 100%;
  height: 62px;
  background-color: #fff;
}

/* Body */

.list-content-body {
  margin-bottom: 82px;
}

.list-content-table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}
.list-content-table th {
  padding: 20px 20px;
}
.list-content-table td,
th {
  border: 1px solid #ececec;
  padding: 10px 20px;
}
.list-content-table-img {
  width: 69px;
  height: 69px;
  border-radius: 10px;
  object-fit: cover;
}
.list-content-table tr:nth-child(even) {
  background-color: #ececec;
  border: 1px solid #ececec;
}
.list-content-operation {
  justify-content: space-around;
  align-items: center;
  min-width: 150px;
}
.operation-update-btn {
  background: #28b4ff;
}
.operation-delete-btn {
  background: #d9534f;
}
.operation-detail-btn {
  background: #ffc836;
}

.operation-delete-btn,
.operation-update-btn,
.operation-detail-btn {
  display: flex;
  border-radius: 6px;
  padding: 7px;
  border: none;
  outline: none;
  cursor: pointer;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.operation-detail-btn:hover,
.operation-delete-btn:hover,
.operation-update-btn:hover {
  opacity: 0.8;
}

/* Footer */
.list-content-footer {
  width: 100%;
  height: 82px;
  border-top: 2px solid #f5f5f5;
  position: absolute;
  bottom: 0;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.content-footer-operation {
  display: flex;
  align-items: center;
}
.show-quantity {
  display: flex;
  align-items: center;
}
.select-show-quantity {
  width: 62px;
  height: 32px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  border: 1px solid #f1f1f1;
  margin-left: 12px;
  cursor: pointer;
}
.select-show-quantity select {
  width: 100%;
  border: none;
  outline: none;
}
.next-page-container {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.next-page-item {
  border: none;
  outline: none;
  width: 32px;
  height: 32px;
  border-radius: 8px;
  border: 1px solid #f1f1f1;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.next-page-item:hover {
  background: #ececec;
  transition: all 0.1s ease-in;
}
.next-page-item:not(:first-child) {
  margin-left: 10px;
}

.open-modal {
  display: none;
}
