.wrapper-profile {
  margin-top: 44px;
  background-color: #f9f9f9;
  width: 100%;
  height: 1000px;
}
.profile-header {
  padding: 30px 40px;
  h3 {
    color: var(--primary-title);
    font-size: 18px;
    font-weight: 500;
  }
}
.profile-body {
  width: 90%;
  height: 500px;
  background: #fff;
  margin: auto;
}