.product-item {
  display: flex;
  flex-direction: column;
  width: 230px;
  max-height: 350px;
  padding: 10px;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 1px 1px 8px 0 #ddd;
  justify-content: space-between;
  border: 1px solid transparent;
  &:hover {
    border: 1px solid var(--primary-border);
  }
  &-name {
    font-weight: 700;
  }
}
.product-item-img {
  // border-radius: 10px;
  width: 100%;
  margin: auto;
  margin-bottom: 10px;
  height: 200px;
  object-position: center;
  object-fit: cover;
}

.item-price-container {
  padding: 7px 0;

  h5 {
    font-size: 13px;
  }

  h3 {
    color: var(--primary-title);
    font-size: 16px;
    font-weight: 600;
  }
}
.product-item-name {
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
  transition: all ease-in 0.1s;
  color: #000;
  &:hover {
    opacity: 0.7;
  }
}
//.product-coltrol-top {
//  display: flex;
//  justify-content: space-between;
//  margin: 7px 0;
//}
//
//.control-top-cart,
//.control-top-detail {
//  padding: 5px 40px;
//}
//
//.control-top-cart,
//.control-top-detail,
//.control-bottom-buy {
//  border: none;
//  outline: none;
//  border-radius: 7px;
//  background: var(--primary-button);
//  color: #fff;
//
//  &:hover {
//    opacity: 0.9;
//  }
//}
//.control-bottom-buy {
//  width: 100%;
//  padding: 5px 40px;
//}
